<div class="p-10 flex justify-around">

    <mat-card class="home-card bg-blue-100">
        <mat-card-header>
            <div mat-card-avatar class="home-header-image-back-office"></div>
            <mat-card-title>Back Offie</mat-card-title>
            <mat-card-subtitle>Entities Management</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../../assets/img/forklift.png" alt="forklift" class="pl-6">
        <mat-card-content>
            <div class="flex flex-col content-center">
                <p>
                    Create, Update, Delete Entities
                </p>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button routerLink="/supplier">Suppliers</button>
            <button mat-button routerLink="/shop">Shops</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="home-card bg-blue-100">
        <mat-card-header>
            <div mat-card-avatar class="home-header-image-front-office"></div>
            <mat-card-title>Front Offie</mat-card-title>
            <mat-card-subtitle>Entities Management</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image src="../../../../assets/img/store.png" alt="store" class="pl-6">
        <mat-card-content>
            <div class="flex flex-col content-center">
                <p>
                    Create, Update, Delete Entities
                </p>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button routerLink="/supplier">Suppliers</button>
            <button mat-button routerLink="/shop">Shops</button>
        </mat-card-actions>
    </mat-card>

    <mat-card class="home-card bg-blue-100">
        <mat-card-header>
            <div mat-card-avatar class="home-header-image-admin-area"></div>
            <mat-card-title>Admin Area</mat-card-title>
            <mat-card-subtitle>Entities Management</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div class="flex flex-col content-center">
                <img mat-card-image src="../../../../assets/img/administrator.png" alt="users" class="pl-6">
                <p>
                    Create, Update, Delete Entities
                </p>
            </div>
        </mat-card-content>
        <mat-card-actions>
            <button mat-button routerLink="/supplier">Suppliers</button>
            <button mat-button routerLink="/shop">Shops</button>
        </mat-card-actions>
    </mat-card>

</div>