.home-card {
    max-width: 300px;
  }
  
.home-header-image-back-office {
    background-image: url('../../../../assets/img/delivery.png');
    background-size: cover;
  }

.home-header-image-front-office {
    background-image: url('../../../../assets/img/cash-register-side.png');
    background-size: cover;
  }

.home-header-image-admin-area {
    background-image: url('../../../../assets/img/cog.png');
    background-size: cover;
}