<table class="clepsydra-simple-table">
    <tr>
      <th>Name</th>
      <th>Description</th>
    </tr>
    <tr *ngFor="let sup of service.suppliersList" class="supplier-row">
      <td >{{sup.name}}</td>
      <td >{{sup.description}}</td>
      <td>
        <button mat-raised-button (click)="populateForm(sup)" color="primary">
          <fa-icon [icon]="['fas', 'edit']"></fa-icon>
          Edit
        </button>
        <button mat-raised-button (click)="onDelete(sup.id)" color="primary">
          <fa-icon [icon]="['fas', 'trash']"></fa-icon>
          Delete
        </button>
      </td>
    </tr>
  </table>