<form #suppliersForm="ngForm" autocomplete="off" (submit)="onSubmit(suppliersForm)">

    <div class="flex flex-col">
  
      <input type="hidden" name="Id" #Name="ngModel" [(ngModel)]="service.suppliersFormData.id"
        [value]=service.suppliersFormData.id>
  
        <input matInput placeholder="Supplier Name" #Name="ngModel" [(ngModel)]="service.suppliersFormData.name"
          [ngModelOptions]="{standalone: true}" [value]="service.suppliersFormData.name" requried minlength="3">
      
    </div>
  
    <div>
      <button type="submit" [disabled]="suppliersForm.invalid "><i class="fas fa-save" requried></i> Save</button>
      <button type="reset"><i class="fas fa-undo" requried></i> Reset</button>
    </div>
  </form>
  