/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.clepsydra-simple-table {
    th {
      border: 2px solid gray;
    }
  
    td {
      border: 1px solid gray;
      padding: 2px 5px;
    }
  }